:host {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #e6ac4f;
  border-color: #de722a;
}

:host[hover]:hover:not(:disabled) {
  box-shadow: 0px 0px 5px 1px #e6ac4f;
}

:host:disabled {
  cursor: none;
  background-color: #aa8c5b;
  border-color: #9d6845;
}
