<div class="my-badge">
  <div class="my-text">
    <label class="pizza">PIZZA</label>
    <label class="kma">KMA</label>
  </div>
  <img src="assets/discount.svg" />
</div>
<div class="main-section">
  <div class="upper-part">
    <div class="info">
      <div class="tel">
        <label>(044) 222 5 222</label>
      </div>
      <div class="time">
        <label>24 години / 7 днів на тиждень</label>
      </div>
      <div class="delivery">
        <label>Безкоштовна доставка піци</label>
      </div>
    </div>
    <button class="btn btn-primary">Увійти</button>
  </div>
  <div class="tabs">
    <a href="index.html">Піца</a>
  </div>
</div>
