.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(231, 223, 223);
  border-radius: 10px;
  border-width: 1px;
  background-color: white;
}

img {
  max-width: 248px;
  margin: 1px;
}

.caption {
  padding: 9px;
}

.title {
  color: #de722a;
  font-weight: bolder;
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 9px;
}

.subtitle {
  color: #a4a2a2;
  margin: 0;
  font-size: 12px;
}

.description {
  margin: 0;
  font-size: 12px;
  overflow-wrap: break-word;
  line-height: 1.42857143;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 5px;
}
