<div class="option">
    <div class="stats">
        <div>
            <img src="assets/size-icon.svg">
            <label class="size">{{option().size}}</label>
        </div>
        <div>
            <img src="assets/weight.svg">
            <label class="weight">{{option().weight}}</label>
        </div>
    </div>

    <div class="buy-section">
        <div class="price">
            <label class="value">{{option().price}}</label>
            <label class="currency">грн.</label>
        </div>
        <div class="buy-btn">
            <button class="btn btn-primary">Купити</button>
        </div>
    </div>
</div>