.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bolder;
}

.size {
  margin-left: 3px;
}

.weight {
  margin-left: 3px;
}

.buy-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-weight: bolder;
  font-size: 20px;
}

.currency {
  font-weight: bolder;
}

.buy-btn > button {
  color: white;
}

.buy-btn > button {
  background-color: #e6ac4f;
  border-color: #de722a;
}

.buy-btn > button:hover {
  box-shadow: 0px 0px 5px 1px #e6ac4f;
}
