label {
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
  font-weight: bolder;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

input[type="radio"]:not(:checked) + label {
  background-color: #fffff6;
  color: #e6ac4f;
}

input[type="radio"]:checked + label {
  background-color: #de722a;
  color: white;
}
