:host {
    display: flex;
    background-color: #de722a;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    padding: 5px;
}