:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 10px;
  background-color: white;
  gap: 10px;
}

.orders-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 10px;

  label {
    font-size: 1.75rem;
  }
}

.clear-orders {
  justify-self: end;
  font-size: 1rem;
  color: #a4a2a2;
  text-wrap: nowrap;
}
