:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 10px;
  background-color: white;
  gap: 10px;
}

.orders-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.orders-label label {
  font-size: 1.25rem;
  font-weight: bolder;
}

.clear-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear-orders {
  justify-self: end;
  font-size: 0.8rem;
  color: #a4a2a2;
  text-wrap: nowrap;
}

.round-span {
  width: 15px;
  height: 15px;
}
